// FOOTER
footer {
	background-color: #333333;
	color: #a9a9a9;
	font-family: 'Lato', sans-serif;
	.prefooter {
		.prefooter-content {
			padding: 50px 0;
			h4 {
				padding: 50px 0;
				color: white;
				font-weight: 700;
			}
			.recent-post {
				figure {
					img {
						width: 70px;
						height: 70px;
						float: left;
						margin: 8px 5px 5px 10px;
						display: inline-block;
					}
					figcaption {
						p{
							color: #a9a9a9;
							&:hover {
								color: @e-orange;
							}
						}
						h6 {
							color: #6e6e6e;
							font-family: 'Lato', sans-serif;
							display: inline-block;
							font-size: 12px;
						}
					}
				}
			}
			.tags {
				ul {
					li {
						background-color: black;
						padding: 5px 15px;
						margin: 5px;
						&:hover,&:active {
							background-color: white;
							a {
								color: @e-orange-dark;
							}
							
						}
					}
				}
			}
			.flickr-galary {
				img {
					margin: 0 4px 8px 0;
					width: 80px;
					height: 80px;
				}
			}
		}
		hr {
			background-color: #494949;
		}
		.social {
			h4 {
				font-weight: 700;
				}
			li {
				padding-left: 40px;
				text-align: right;
				&:hover, &:active {
					a {
						color: white;
					}
				}
			}

		}
	}
	.footer {
		background-color: black;
		p {
			padding: 20px 0;
		}
	}
}