// PAGE
//
body {
	color: @elijah-dark;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}
h2, h3, h4, h5, h6 {
	font-weight: 300;
}
h1 {
	font-weight: 400;
}
.container-fluid {
	padding: 0;
}
p {
	font-family: 'Lato', sans-serif;
	.font-size(16px);
	font-weight: 300;
}
.Light-text {
	color: @elijah-light;
	padding: 30px 0;
	text-align: center;
}
.Text-orange {
	color: @elijah-orange;
}
.Background-color(@background) {
	background-color: @background;
	color: white;
}
.home {
	background-image: url(../images/index/home.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	font-weight: 700;
	.logo {
		background-color: #959595;
		font-size: 100px;
		margin: 85px 0;
	}
	h1 {
		font-family: 'Lato', sans-serif;
		line-height: 40px;
		span {
			.Background-color(@elijah-orange);
			padding: 0 5px 0 10px;
		}
	}
	i {
		padding: 100px;
	}
}

nav {
	padding: 20px 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	.navbar-header {
		h1{
			.Text-orange;
		}
	}
	ul {
		li {
			.separator {
				height: 2px;
				width: 50%;
				margin: 0 auto;
				.Background-color(@elijah-orange);
				.opacity(0);
			}
			&:focus,&:hover {
				.separator {
					.opacity(1);
				}
			}
			a{
				font-size: 18px;
				&:focus, &:hover {
					.Text-orange;
				}
			}
		}
		.active {
			a {
				.Text-orange;
			}
			.separator {
				.opacity(1);
			}
		}
	}
}
.heading{
		padding: 160px 0;
		margin: 0 auto;
		.title-circle {
			position: relative;
			width: 270px;
			margin: 0 auto;
			.circle {
			width: 175px;
			height: 175px;
			border-radius: 50%;
			}
			#orange-circle {
				.Background-color(@elijah-orange);
				position: absolute;
				left: 100px;
			}
			#dark-circle {
				.Background-color(@elijah-dark);
			}
			.title {
				.font-size(60px);
				position: absolute;
				font-family: 'Oswald', sans-serif;
				top: 45px;
				left: 20px;
				z-index: 1;
				color: white;
			}
		}
		h2 {
			padding: 30px 0;
			font-family: 'Lato', sans-serif;
			span {
				.Text-orange;
			}
		}
	}
#about {
	.feature {
		article {
			span {
				.fa-circle {
					.Text-orange;
				}
				i {
					&:last-child {
						color: white;
					}
				}
			}
			h3 {
				padding: 20px;
			}
			&:hover {
				h3 {
					.Text-orange;
				}
			}
		}
	}
	.intro-skill {
		&>p {
			.Light-text;
		}
		.progress {
			.Background-color(@elijah-dark);
			margin-bottom: 15px;
			.progress-bar {
				.Background-color(@elijah-orange);
				padding: 8px 20px;
				span {
					float: right;
				}
			}
		}
	}
	.fun-fact {
		&>p {
			.Light-text;
		}
		article {
			padding: 10px;
			.number {
				.font-size(60px);
				.Text-orange;
			}
			p {
				padding: 15px 0;
			}
		}
	}
}
.quote {
	background-image: url(../images/index/quote.jpg);
	background-position: center;
	i, h6 {
		.Text-orange;
	}
	h1 {
		padding: 40px 0;
		font-weight: 300;
		span{
			.Text-orange;
		}
	}
	h6 {
		padding: 15px;
	}
	button {
		.Background-color(@elijah-orange);
		.font-size(24px);
		padding: 0 15px;
		i{
			color: white;
		}
	}
	
}
.brown-filter {
	.Background-color(@elijah-brown);
	.opacity(0.7);
	padding: 80px 0;
}
#team {
	.members {
		figure {
			.view-profile {
				background-image: url(../images/index/members.jpg);
				background-size: cover;
				padding: 90px 0;
				h4{
					padding: 15px 0;
					font-weight: 700;
					.Background-color(@elijah-dark);
					.opacity(0);
				}
				&:hover {
					h4 {
						.opacity(0.6);
					}
				}
			}
			figcaption {
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				padding: 20px;
				.position {
					.font-size(14px);
					color: @elijah-lightest;
				}
			}
			p{
				color: @elijah-lightest;
			}
		}
	}

	.clients {
		padding: 40px 0;
		p{
			&:first-child {
				.Light-text;
			}
			&:nth-child(3) {
				padding: 20px 0;
			}
		}
		figure {
			padding: 40px 0;
			a{
				padding: 20px;
			}
		}
	}
}
#services {
	.service-content {
		article {
			padding: 20px;
			i {
				display: inline-block;
				float: left;
				padding: 0 25px 10px 10px;
			}
			h3 {
				display: inline;
				font-weight: 400;
			}
			p {
				padding: 10px 0;
			}
		}
	}
	.testimonial {
		font-family: 'Open Sans', sans-serif;
		&>p {
			.Light-text;
		}
		
		.client {
			&>p {
				font-style: Italic;
				padding: 70px 0;
			}
			figure {
				padding: 0;
				img {
					width: 100px;
					height: 100px;
					&[alt]{
						.Background-color(@elijah-light);					}

				}
			}
			figcaption {
				padding: 20px 0;
				p {
					font-weight: 400;
					.font-size(16px);
				}
				h6 {
					font-style: Italic;
					.font-size(12px);
				}
			}
			padding-bottom: 100px;
		}
	}
}

#portfolio {
	.portfolio-iso {
		margin: 70px 0;
		ul {
			li {
				.Background-color(@elijah-orange);
				.font-size(24px);
				padding: 0px 30px;
				margin: 0 10px 40px 10px;
				border-color: @elijah-orange;
				border-radius: 20px;
				&:hover {
					.Background-color(white);
					.Text-orange;
					border-color: @elijah-orange;
					cursor: pointer;
				}
			}
		}
		.grid {
			max-width: 1600px;
			figure { 
				display: inline-block;
				position: relative;
				width: 400px;
				height: 268px;
				figcaption {
					.Background-color(@elijah-orange);
					position: absolute;
					top: 0;
					color: white;
					width: 100%;
					height: 100%;
					padding: 100px 0;
					.separator {
						height: 2px;
						width: 30%;
						margin: 10px auto;
						background-color: white;
					}
					.opacity(0);
					&:hover {
						.opacity(1);
					}
				}
			}
		}

	}
}

#pricing {
	ul {
		.pricing-circle {
			width: 140px;
			height: 140px;
			text-align: center;
			display: inline-block;
			padding: 35px;
			.Background-color(@elijah-dark);
			.font-size(48px);
			margin: 40px 0;
		}
		h2 {
			padding: 20px 0;
		}
		button {
			margin: 40px 0;
			padding: 10px 20px;
			font-weight: 400;
			.Background-color(@elijah-dark);
		}
		margin: 0;
		&:hover {
			border-color: @elijah-yellow;
			li {
				.Background-color(#fff0a8);
				color: @elijah-dark;
				
				&:first-child, &:last-child {
					.Background-color(@elijah-yellow);
					.pricing-circle {
						.Background-color(white);
						color: @elijah-yellow;
						margin: 40px 0;
					}
					.opacity(0.8);
					button {
						.Background-color(white);
						color: @elijah-yellow;
					}
				}
			}
		}
	}
}
.company-information {
	font-family: 'Oswald', sans-serif;
	margin-top: 100px;
	.keep-in-touch {
		.font-size(60px);
		font-weight: 700;
	}
	.address {
		.font-size(48px);
		font-weight: 300;
		padding: 20px 0 50px 0;
	}
	h2 {
		.Background-color(black);
		padding: 5px 30px;
		display: inline;
	}
}
#contact {
	.contact-info {
		background-image: url(../images/index/contact.jpg);
		background-size: cover;
		background-position: center;
		background-color: black;
		padding: 140px 0;
		margin: 0 auto;
		form {
			padding: 70px;
			background-color: white;
			button {
				.Background-color(@elijah-orange);
				border-color: @elijah-orange;
				&:hover {
					.Background-color(white);
					.Text-orange;				}
			}
		}
	}
}