// PAGE
//
body {
	margin: 0 auto;
	color: @e-dark;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @oswald;
	&:not(h1) {
		font-weight: 300;
	}
}
h1 {
	font-weight: 400;
}
.container-fluid {
	padding: 0;
}
a {
	&:focus, &:hover {
		text-decoration: none;
	}
}
p {
	font-family: @lato;
	font-weight: 300;
	.font-size(16px);
}

.Text-light {
	color: @e-light;
	padding: 30px 0;
	text-align: center;
}
.Text-orange {
	color: @e-orange;
	background-color: white;
}
.Background(@color) {
	background-color: @color;
	color: white;
}
.btn-orange {
	.Background(@e-orange);
	.font-size(14px);
	border-radius: 5px;
	padding: 5px 20px; 
	font-family: @oswald;
	border: 1px solid #f9a959;
	box-shadow: 0 4px #dd8833;
	margin: 20px 0;
	a {
		color: white;
	}
	&:hover {
		a {
			color: @e-orange;
		}
		.Text-orange;
	}
}
// HOME
//
.home {
	background-image: url(../images/index/home.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	font-weight: 700;
	padding: 90px 0;
	.logo {
		background-color: #959595;
		.opacity(0.8);
		font-size: 100px;
		padding: 25px;
		@media only screen and (max-width:768px) {
			font-size: 6.25rem;
		}
	}
	h1 {
		font-family: @lato;
		line-height: 40px;
		padding: 70px 0;
		span {
			.Background(@e-orange);
			padding: 0 5px 0 10px;
		}
	}
	i {
		padding: 100px;
	}
}

nav {
	padding: 20px 40px;
	font-family: @oswald;
	font-weight: 400;
	.navbar-header {
		h1{
			.Text-orange;
			display: inline;
		}
	}
	ul {
		li {
			.separator {
				height: 2px;
				width: 50%;
				margin: 0 auto;
				.Background(@e-orange);
				.opacity(0);
			}
			&:focus,&:hover {
				.separator {
					.opacity(1);
				}
			}
			a{
				.font-size(18px);
				&:focus, &:hover {
					.Text-orange;
				}
			}
		}
		.active {
			a {
				.Text-orange;
			}
			.separator {
				.opacity(1);
			}
		}
	}
}
.heading{
		padding: 160px 0;
		.title-circle {
			position: relative;
			width: 270px;
			margin: 0 auto;
			.circle {
				width: 175px;
				height: 175px;
				border-radius: 50%;
			}
			#orange-circle {
				.Background(@e-orange);
				position: absolute;
				left: 100px;
			}
			#dark-circle {
				.Background(@e-dark);
			}
			.title {
				font-size: 60px;
				.absolute-center();
				font-family: @oswald;
				z-index: 1;
				color: white;
				height: 90px;
				@media only screen and (max-width:768px) {
					font-size: 3.25rem;
					height: 5.625rem;
				}
			}
		}
		h2 {
			padding: 30px 0;
			font-family: @lato;
			span {
				.Text-orange;
			}
		}
		@media only screen and (max-width:768px) {
			padding: 60px 0;
		}
	}
#about {
	.feature {
		article {
			span {
				.fa-circle {
					.Text-orange;
				}
				i {
					&:last-child {
						color: white;
					}
				}
			}
			h3 {
				padding: 20px;
			}
			&:hover {
				h3 {
					.Text-orange;
				}
			}
		}
	}
	.intro-skill {
		&>p {
			.Text-light;
		}
		.progress {
			.Background(@e-dark);
			.progress-bar {
				.Background(@e-orange);
				padding: 0px 20px;
				display: -webkit-flex;
				-webkit-align-items: center;
				span {
					float: right;
				}
			}
			height: 35px;
		}
	}
	.fun-fact {
		&>p {
			.Text-light;
		}
		article {
			padding: 10px;
			.number {
				.font-size(60px);
				.Text-orange;
			}
			p {
				padding: 15px 0;
			}
		}
	}
}
.quote {
	background-image: url(../images/index/quote.jpg);
	background-position: center;
	background-size: cover;
	i, h6 {
		color: @e-orange;
	}
	h1 {
		padding: 40px 0;
		font-weight: 300;
		span{
			color: @e-orange;
		}
	}
	h6 {
		padding: 15px;
	}
	button {
		.Background(@e-orange);
		.font-size(24px);
		padding: 0 15px;
		i{
			color: white;
		}
	}
	
}
.brown-filter {
	.Background(@e-brown);
	.opacity(0.7);
	padding: 80px 0;
}
#team {
	.members {
		figure {
			.view-profile {
				position: relative;
				img {
					width: 100%;
				}
				.over-lay {
					.absolute-center();
					.Background(@e-orange);
					display:-webkit-flex;
					-webkit-align-items: center;
					h4{
						padding: 15px 0;
						font-weight: 700;
						width: 100%;
						.Background(@e-dark);
					}
					.opacity(0);
				}
	
				&:hover {
					.over-lay{
						.opacity(0.6);	
					}
					
				}
			}
			figcaption {
				font-family: @oswald;
				font-weight: 400;
				padding: 20px;
				.position {
					.font-size(14px);
					color: @e-lightest;
				}
			}
			p{
				color: @e-lightest;
			}
		}
	}

	.clients {
		padding: 40px 0;
		p{
			&:first-child {
				.Text-light;
			}
			&:nth-child(3) {
				padding: 20px 0;
			}
		}
		figure {
			padding: 40px 0;
			a{
				padding: 20px;
			}
		}
	}
}
.twitter {
	.item {
		height: 552px;
		.brown-filter;
	}
}
#services {
	.service-content {
		article {
			padding: 20px;
			i {
				display: inline-block;
				float: left;
				padding: 0 25px 10px 10px;
			}
			h3 {
				display: inline;
				font-weight: 400;
			}
			p {
				padding: 10px 0;
			}
		}
	}
	.testimonial {
		font-family: @opensans;
		&>p {
			.Text-light;
		}
		
		.client {
			&>p {
				font-style: Italic;
				padding: 70px 0;
				@media only screen and (max-width:768px) {
					padding:30px 0;
				}
			}
			figure {
				padding: 0;
				img {
					width: 100px;
					height: 100px;
					&[alt]{
						.Background(@e-light);
					}
				}
			}
			figcaption {
				padding: 20px 0;
				p {
					font-weight: 400;
					.font-size(16px);
				}
				h6 {
					font-style: Italic;
					.font-size(12px);
				}
			}
			padding-bottom: 100px;
			@media only screen and (max-width:768px) {
				padding-bottom: 30px;
			}
		}
	}
}

#portfolio {
	.portfolio-iso {
		margin: 70px 0;
		ul {
			li {
				.Background(@e-orange);
				.font-size(24px);
				padding: 0px 30px;
				margin: 0 10px 40px 10px;
				border-color: @e-orange;
				border-radius: 20px;
				&:hover {
					.Background(white);
					.Text-orange;
					border-color: @e-orange;
					cursor: pointer;
				}
			}
		}
		.grid {

			.item-sizer, .item {
				width: 25%;
				}
			.item { 
				display: inline-block;
				position: relative;
				img {
					width: 100%;
				}
				figcaption {
					.Background(@e-orange);
					.absolute-center();
					padding: 25% 0;
					.separator {
						height: 2px;
						width: 30%;
						margin: 10px auto;
						background-color: white;
					}
					.opacity(0);
					&:hover {
						.opacity(1);
					}
				}
			}
		}

	}
	.rating {
		padding: 30px 0;
		&:not(i:last-child) {
			color: @e-orange;
		}
	}
	.portfolio_container {
		figcaption {
			p {
				padding: 30px 0;
			}
			ul {
				padding: 20px 0;
				margin: 0;
				li {
					padding-top: 10px 0;
					clear: both;
					span {
						&:first-child {
							width: 110px;
							float: left;
							overflow: hidden;
							white-space: nowrap;
							&:after {
								content:"                    ";
							}
						}
						&:last-child {
							float: left;
						}
					}
					a {
						.Text-orange;
						border-bottom: 1px dotted @e-orange;
					}
				}
			}
		}
	}
	
	.related-work {
		figure {
			position: relative;
			image {
				.absolute-center();
			}
			figcaption {
				.Background(@e-orange);
				.absolute-center();
				max-width: 270px;
				text-align: center;
				padding: 20% 0;
				.opacity(0);
				.separator {
						height: 2px;
						width: 30%;
						margin: 10px auto;
						background-color: white;
					}
				&:hover	{
					.opacity(1);
				}
			}
		}
	}
	.comment-form {
			padding-bottom: 150px;
			.form-control {
				margin: 10px 0;
				padding: 20px 20px;
				border-radius: 0;
				border-color: @e-light;
				.placeholder(@e-orange);
			}
			button {
				float: right;
			}
		}
}

#pricing {
	ul {
		.pricing-circle {
			width: 140px;
			height: 140px;
			text-align: center;
			display: inline-block;
			padding: 35px;
			.Background(@e-dark);
			.font-size(48px);
			margin: 40px 0;
		}
		h2 {
			padding: 20px 0;
		}
		button {
			margin: 40px 0;
			padding: 10px 20px;
			font-weight: 400;
			.Background(@e-dark);
		}
		margin: 0;
		&:hover {
			border-color: @e-yellow;
			li {
				.Background(#fff0a8);
				color: @e-dark;
				
				&:first-child, &:last-child {
					.Background(@e-yellow);
					.pricing-circle {
						background-color: white;
						color: @e-yellow;
						margin: 40px 0;
					}
					.opacity(0.8);
					button {
						background-color: white;
						color: @e-yellow;
					}
				}
			}
		}
	}
}
.company-information {
	font-family: @oswald;
	margin-top: 100px;
	.keep-in-touch {
		.font-size(60px);
		font-weight: 700;
	}
	.address {
		.font-size(48px);
		font-weight: 300;
		padding: 20px 0;
	}
	h2 {
		.Background(black);
		padding: 5px 30px;
		display: inline;
		margin: 15px 0;
	}
}
#contact {
	.contact-info {
		background-image: url(../images/index/contact.jpg);
		background-size: cover;
		background-position: center;
		padding: 140px 0;
		form {
			padding: 70px;
			background-color: white;
		}
	}
}

.blog {
	h3,p {
		color: black;
	}
	.blog-main {
		figcaption {
			padding: 40px 40px 70px 40px;
			ul {
				padding-top: 30px;
				color: @e-light;
				li {
					padding-right: 20px;
				}
			}
			blockquote {
				border-color: @e-blockquote-border;
				margin-left: 20px;
				p{
					color: @e-light;
					font-style: normal;
				}
			}
			.prev-next {
				margin-top: 35px;
			}
			.prev {
				color: @e-light;
			}
		}

		.author-box {
			padding: 30px 0;
			figcaption {
				padding: 0;
				i {
					float: right;
					color: @e-light;
					margin: 0 5px;
				}
				p{
					font-family:@oswald;
					font-weight: 400;
				}
				.report-reply, a {
					color: @e-light;
				}
			}
		}

		h4 {
			padding: 40px 0;
			color: black;
		}
		.comment-form {
			padding-bottom: 150px;
			.form-control {
				margin: 20px 0;
				padding: 20px 20px;
				.Background(@e-form-background);
				.bordered(@e-form-border,@e-form-background,@e-form-background,@e-form-background);
				.placeholder(@e-placeholder-blog);
			}
		}
		.pager {
			li a{
				.btn-orange;
				.font-size(14px);
				padding: 5px 30px; 
				margin-bottom: 100px;
			}
		}

	}
	.blog-sidebar {
		figure {
			img {
				&:first-child {
					position: relative;
				}
				&:last-child {
					position: absolute;
					top:70px;
					left: 30px;
				}
			}
		}
		figcaption {
			h3 {
				font-family: 'Alex Brush', cursive;
			}
			p{
				padding: 40px 25px;
			}
		}
		form {
			padding: 0 25px;
			input {
				margin: 20px 0;
				border: none;
				border-bottom: 2px solid @e-light;
			}
		}
		.heading {
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			padding: 10px;
			margin: 40px 0;
			font-family: @oswald;
		}
		.sidebar-content {
			padding: 10px 0;
			p {
				span {
					.font-size(14px);
					color: @e-light;
				}
			}
		}
		.categories {
			ul{
				max-width: 100%;
					margin: 0;
					li { 
						span {
							&:first-child {
								max-width: 93%;
								float: left;
								overflow: hidden;
								white-space: nowrap;
								&:after {
									content:" ................................................................";
								}
							}
							&:last-child {
								float: left;
								overflow: hidden;
								margin-left: 5px;
								text-align: right;
							}
						}
					}
			}
		}

		.tags {
			li {
				padding: 5px 10px;
				margin: 5px;
				border: 1px solid @e-light;
				a {
					color: @e-light;
					&:hover {
						.Text-orange;
					}
				}
			}
		}
		.advertisement {
			img {
				&:nth-child(4) {
					padding: 0 5px;	
				}
				&:nth-child(7) {
					text-align: right;	
				}
			}
		}
	}
}